{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des produits</h1>
    <a href="{{path('app_produit_new')}}">Créer un produit</a>

    {# <pre>
        {{ dump(produits) }}
    </pre> #}

    {% for produit in produits %}
        <div>{{produit.name}}</div>
        <div>{{produit.price}} $</div>
        <div>{{produit.categorie.name}}</div>
        <div>{{produit.description}}</div>
        </br>
        
    {% endfor %}

{% endblock %}
